$color-light-blue: #C7F7FF;
$color-med-blue:   #89C0C9;
$color-dark-blue:  #3a5E63;
$color-light-brown:#C9A689;
$color-dark-brown: #7C593C;
$color-light-grey: #d4d4d4;
$color-dark-grey:  #222;
$color-white:      #fff;

$font-sans-serif:  'Josefin Sans', ÔÇÿTrebuchet MSÔÇÖ, Helvetica, sans-serif;
$font-serif: Cardo, ÔÇÿPalatino LinotypeÔÇÖ, ÔÇÿBook AntiquaÔÇÖ, Palatino, serif;